*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: sans-serif;
}  
body{
	padding: 40px;
	background-image: linear-gradient(to right,rgb(30, 30, 228),rgb(129, 129, 190),blue);
}
.login{
	
	position: absolute;
	height: auto;
	width: 100%;
	max-width: 400px;
	padding: 20px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%); 
	background-color: white;
	/*background: blue;*/ 
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
	border-radius: 20px;
	border:2px solid black;
	 

}
input[type="text"],input[type="password"]{
outline: none;
border: none;
}
 .name{
	border:none;
	height:2rem;
	width:20em;
	border-radius:20px;
	/* padding:5px 20px; */
	/* font-size:1.2rem; */
	
}
.password{
	/* font-size:1.2rem; */
	border:none;
	height:2rem;
	width:20em;
	background:("images/user-alt-solid.svg");
	border-radius:20px;
	/* padding:5px 20px; */


}
h6{
	color:blue;
	padding:3px;
	transform:translate(80px,-30px);
}
a{

	text-decoration:none;
	color:blue;
}
.login-button{
	
	padding:8px 80px;
	background-color:green;
	border-radius:20px;
    border: none;
    color: white;
	cursor: pointer;
}
h6 a:hover{
	color:red;
	text-decoration:underline;
}
.login-button:hover{ background: darkgreen; transform:scale(1.2,1.2); -webkit-transform:scale(1.2,1.2); -moz-transform:scale(1.2,1.2); -ms-transform:scale(1.2,1.2); -o-transform:scale(1.2,1.2);
}