
.footer{
    /* padding: 20px; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    background-color: rgb(46, 36, 36);
} 
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.footer li{
    color: whitesmoke;
    font-size: 0.7em;
    list-style: ;
}
.footer li a {
    color: whitesmoke;
}

.footer li a i {
    color: whitesmoke;
}
.quick-links{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
 
 
