*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: rgb(228, 227, 227);
    background-image: linear-gradient(  to right,gray,white,lightblue);
    background-repeat: no-repeat;
}
ul{
    list-style: none;
}

 
a{
    text-decoration: none;

}
.top-bar{
    position: fixed;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 10;
    width: 100%;
}


.main-header{
    background-color: darkblue;
    position: fixed;
    z-index: 10;
    top:30px;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:nowrap;
    transition:height 1s linear;
    -webkit-transition:height 1s linear;
    -moz-transition:height 1s linear;
    -ms-transition:height 1s linear;
    -o-transition:height 1s linear;
}
.logo-container{ 
    width:50px;
    height: 50px;
    
}
.logo-container img{
    height: 90%;
    width: 90%;
    border-radius: 50%; 
}
.navbar  {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-between;
    
}

.navbar>li>a{
    text-decoration: none;
    color: white;
    margin: 0 7px;
    padding: 10px 5px;
    transform: all 1s linear;
    -webkit-transform: all 1s linear;
    -moz-transform: all 1s linear;
    -ms-transf5orm: all 1s linear;
    -o-transform: all 1s linear;
    -ms-transform: all 1s linear;
}
 

.navbar>li:not(.active-nav-item)>a:hover{
    color: darkblue;
    background-color: white;
    border-radius: 10px; 
}
.active-nav-item{
    background-color: red;
    padding:10px 0;
    border-radius: 10px; 
}
.hamburger-container{
    display: none;
    margin-right: 20px;
    cursor: pointer;

}
.hamburger{
    color:white;
}

@media screen and (max-width:680px)
{
    
    .hamburger-container{
        display: block; 
    }
    
    .main-header{
        height: 12vh;
        overflow: hidden;
        align-items: flex-start;
    }
    .navbar{
       position:absolute;
       top: 100px;
       left: 50%;
       transform:translate(-50%) ;
       flex-direction: column;
       -webkit-transform:translate(-50%) ;
       -moz-transform:translate(-50%) ;
       -ms-transform:translate(-50%) ;
       -o-transform:translate(-50%) ;
       -webkit-transform:translate(-50%) ;
} 

.navbar>li{
    margin: 10px;
    width: 300px;
}
.navbar>li>a {
    text-align: center;
} 
} 

.show-navbar-in-mobile{
    height: 80vh;

}

/* announcement styling */

.announcement{
    position: relative;
}

.announcement ul{
    position: absolute;
    top: 30px;
    display:none;
    background-color: rgb(17, 190, 248);
    border-radius: 10px;
    transition: all 1s  linear;
    -webkit-transition: all 1s  linear;
    -moz-transition: all 1s  linear;
    -ms-transition: all 1s  linear;
    -o-transition: all 1s  linear;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.announcement li{
    width: 150px;
    border-bottom: 1px solid black;
    font-weight: lighter;
    padding:  5px 30px;
}
/* .announcement>li a:first-child{
    padding-left: 0;
} */
.announcement li a{
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin: auto;
    text-decoration: none;
    padding: 5px;
    width: 100%;
}

.announcement>ul>li a:hover{
    background-color: white;
    color:rgb(17, 190, 248) ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}




 
@media screen and (min-width:680px)
{
    .navbar{
        flex-direction: row;
        /* position: static; */
        
        
    }
    
    .main-header{
        justify-content: space-between;
    }
    .navbar>li{
        width: auto;
    }
    .announcement li{
        width: 200px;
    } 
    
}


/* carausel styling */

.carousel-container{
    background-image: url(../../images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 200px 20px 50px;
    width: 100%;
    overflow: hidden;
}
.carousel-image-container{
       height: 300px;
       width: 100%;
       background-color: red;
       max-width: 500px;
       margin: auto;
       overflow: hidden;
       position: relative;
       border-radius: 20px;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       -ms-border-radius: 20px;
       -o-border-radius: 20px;
}
.carousel-image-container p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.8em;
    color: white;
    opacity: 0.8;
    text-shadow: 10px 5px 5px black;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.carousel-image1{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    animation: animateImage1 10s linear  infinite alternate;
    -webkit-animation: animateImage1 10s linear  infinite alternate;
    
}

@keyframes animateImage1 {
    0%{
        left:100%;
    } 
    50%{
       left:0%;
    } 
    100%{
       left: 100%;
    }
    
}
@keyframes animateImage2 {
    0%{
         left:-100%;
    } 
    50%{
        left:-50%;
    } 
    100%{
        left: 0%;
    }
    
}
.carousel-btn-container{
    width: 200px;
    margin: auto;
    padding-left: 40px;
}
.carousel-btn-container button{
    margin: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.about-us{
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
    height: auto; 
}

.about-us-heading,.about-us-text{
    text-align: center;
    padding: 20px;
    margin-left: 0 20px;
}
.learn-more-btn{
    width: 200px;
    margin: auto;
    display: block;
}
.learn-more-btn a{
    text-decoration: none;
}


.about-us-image-container{
    height: 400px;
    width: 100%;
    background-color: red;
    max-width: 500px;
    border-radius:20px ; 
    margin: 20px;
}
.about-us-image{
    height: 100%;
    width: 100%;
    border: 1px solid blue;
    border-radius: 20px;
}
.about-us-text-container{
    height: auto;
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


.notice-container{
    height:auto;
    width: 100%;
    background-image: linear-gradient(rgb(95, 95, 136),rgb(71, 70, 70),rgb(235, 129, 129));
    margin-bottom: 30px;

    
}
.notice-card-container{
    
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
} 


.notice-card{
    height: auto;
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    background-color: white;
    margin: 10px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
.notice-title{
    text-align: center;
    color: red;
    text-transform: capitalize;
    margin: 5px;
}
.notice-date{
  color: gray;
  text-align: center;
  margin: 5px;
  /* padding-bottom: 6px; */
  border-bottom: 1px solid lightblue;
}
.notice-text{
    text-align: center;
    font-family: cursive;
    color:rgb(2, 117, 170);
}
.notice-card .read-more-btn{
    width: 100px;
     margin: 0px auto;
}

 

/* styling for event  section*/

.event-container{
    /* padding: 20px; */
    /* padding-top: 50px; */
    height: auto;
    /* position: relative; */
    /* overflow-x: hidden; */
    width: 100%;

    /* padding-top: 00px; */
     /* padding: 200px 0; */
    background-image: linear-gradient(blue,black,red);
     

}
.event-card-container{
   /* padding-top: 200px; */
   /* overflow-x: hidden; */
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   /*position: absolute;
   overflow: hidden;
   /*display: inline-flex;
   /* animation:slideEvent 8s linear infinite alternate-reverse; */
   /* -webkit-animation:slideEvent 8s linear infinite alternate-reverse; */
}
@keyframes slideEvent {
    0%{
        left: 0%;
    }
    20%{
        left: 50%;
    }
    40%{
        left: 100%;
    }
    60%{
        left: 50%;

    }
    80%{
        left: 0;
    }
    100%{
        left: -50%;
    }
}

.event-card{
    height:auto;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 20px;
     /* margin: auto;  */
    border:1px solid rgb(17, 7, 7);
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 10px 5px 20px rgb(122, 117, 117);
}
.event-title{
    text-align: center;
    color: red;
    text-transform: capitalize;
    margin: 5px;
}
.event-for{
  color: gray;
  text-align: center;
  margin: 5px;
  padding-bottom: 6px;
  border-bottom: 1px solid lightblue;
}

.event-place{
  color: gray;
  text-align: center;
  margin: 5px;
  padding-bottom: 6px;
  border-bottom: 1px solid lightblue;
}

.event-date{
  color: gray;
  text-align: center;
  margin: 5px;
  padding-bottom: 6px;
  border-bottom: 1px solid lightblue;
}
/* .event-text{
    text-align: center;
    font-family: cursive;
    color:rgb(2, 117, 170);
} */
.read-more-btn{
    width: 150px;
     margin: 0 90px;
}
.read-more-btn a {
    text-decoration: none;
}
 
/* styling reviews */ 
#review-container{
    height: auto;
    width: 100%;
    background:rgb(240, 240, 248);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    background-image: linear-gradient(to right,rgb(146, 157, 160),cyan);

} 
#center-container{
    width: 100%;
    max-width: 400px;
    box-shadow: 10px 10px 20px rgb(122, 121, 121);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px; 
    margin: 20px;
}
#review-image-container{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} 
#review-person-image{
    height: 100%;
    width: 100%;
    border-radius: 50%; 
} 
    #reviewer

    {   margin-top: 20px;
        letter-spacing: 2px;
        height: 50%;
        width:100%;
        text-align: center;
        vertical-align: center;
    } 
    #review-text{
        height: auto;
        width: 70%;
        text-align: center;
        line-height: 25px;
        color: rgb(30, 30, 32);
    } 



/* footer styling */

.footer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    background-color: rgb(46, 36, 36);
} 
.footer li{
    color: whitesmoke;
    font-size: 0.7em;
    margin: 3px;
}
.footer li a {
    color: whitesmoke;
}

.footer li a i {
    color: whitesmoke;
}
.quick-links{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
 
 

 


